[Desktop Entry]
Type=Application
X-Nemo-Single-Instance=no
X-Nemo-Application-Type=no-invoker
Icon=qt-runner
Exec=qt-runner
Name=Qt Runner

[X-Sailjail]
Sandboxing=Disabled
